/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
box-sizing: border-box;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
background-color: #D0F9B1;
background-image: url('../img/bg.png');
background-blend-mode: multiply;
color: #fff;
}
body > * {
border: none;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* ESTILOS BÁSICOS */
.container {
display: block;
width: 95%;
max-width: 960px;
margin: 0 auto;
}
header {
background-color: #96D38C;
color: white;
padding: 5em 0 1em;
overflow: hidden;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
background-image: url('../img/nav-bg.jpg');
background-blend-mode: multiply;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Pacifico', cursive;
}
h1 {
font-size: 3rem;
}
h2 {
font-size: 2.5rem;
}
h3 {
font-size: 1.5rem;
}
h4 {
font-size: 1.5rem;
}
.lead {
max-width: 660px;
margin: 2em auto 1em;
font-size: 120%;
}
form {
width: 90%;
margin: 0 auto;
max-width: 600px;
padding: 0 5%;
font-size: 85%;
}
label {
display: block;
font-weight: 800;
color: #E1396C;
margin: 1.2em 0 .5em;
float: left;
}
input, select {
width: 100%;
border-radius: 3px;
border: 1px solid #f1f1f1;
line-height: 120%;
padding: 1%;
font-size: 120%;
transition: .5s ease all;
background: rgba(255,255,255,.9);
}
input::placeholder {
color: gray;
}
.btn {
display: block;
text-align: center;
font-weight: 800;
cursor: pointer;
color: #fff;
background-color: #FEBFB3;
letter-spacing: 1px;
font-size: 90%;
padding: 1em 1.5em;
transition: .5s ease all;
margin: 2em auto;
border: none;
width: 100%;
border-radius: 10px;
}
.btn:hover, .btn:active, .btn:focus {
background-color: #D78778;
transition: .5s ease all;
color: #fff;
}
p {
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
display: block;
margin: 1em 0;
line-height: 1.4;
text-align: justify;
}
span {
border-bottom: 2px #E1396C solid;
font-weight: 700;
}
b {
font-weight: 800;
color: #E1396C;
}
small {
font-size: .8rem;
}
footer {
display: block;
text-align: center;
width: 100%;
margin: 2em 0 1em;
padding: 0 0 2em;
overflow: hidden;
}
/*INPUT CHECK*/
input[type|=check] {
display: inline-block;
width: auto;
}
label[for|=check] {
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-weight: normal;
display: inline-block;
}
/* INPUT NUMBER SIN FLECHAS */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

/* Especial */
.hidden {
opacity: 0;
transition: .5s ease all;
}
#logo {
float: left;
clear: left;
cursor: pointer;
}
#logo h1 {
position: relative;
margin: 0 0 .5em 2em;
}
#logo h1:before {
content: '';
background-image: url('../img/logo.svg');
width: 1.8em;
height: 1.8em;
background-repeat: no-repeat;
background-size: 1.3em;
left: -2em;
position: absolute;
background-position: center;
top: -.4em;
background-color: #FEBFB3;
border-radius: 50%;
transition: .5s ease all;
}
#logo:hover h1:before {
background-color: #D78778;
cursor: pointer;
transition: .5s ease all;
}
header nav {
float: right;
clear: right;
display: block;
margin: 5px 0 0;
}
header nav ul {
display: block;
}
header nav ul li {
display: block;
float: left;
}
header nav ul li a {
position: relative;
padding: 1em;
color: #D0F9B1;
border: none;
text-decoration: none;
display: block;
text-shadow: none;
-webkit-transition: color 0.3s;
-moz-transition: color 0.3s;
transition: color 0.3s;
letter-spacing: 2px;
font-weight: bolder;
}
header nav ul li a::before, header nav ul li a::after {
position: absolute;
left: 0;
width: 100%;
height: 2px;
background: #fff;
content: '';
opacity: 0;
-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
-moz-transition: opacity 0.3s, -moz-transform 0.3s;
transition: opacity 0.3s, transform 0.3s;
-webkit-transform: translateY(-10px);
-moz-transform: translateY(-10px);
transform: translateY(-10px);
}
header nav ul li a::before,
header nav ul li a::after {
position: absolute;
left: 0;
width: 100%;
height: 2px;
background: #fff;
content: '';
opacity: 0;
-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
-moz-transition: opacity 0.3s, -moz-transform 0.3s;
transition: opacity 0.3s, transform 0.3s;
-webkit-transform: translateY(-10px);
-moz-transform: translateY(-10px);
transform: translateY(-10px);
}
header nav ul li a::before {
top: 0;
-webkit-transform: translateY(-10px);
-moz-transform: translateY(-10px);
transform: translateY(-10px);
}
header nav ul li a::after {
bottom: 0;
-webkit-transform: translateY(10px);
-moz-transform: translateY(10px);
transform: translateY(10px);
}
header nav ul li a:hover,
header nav ul li a:focus {
color: #fff;
}
header nav ul li a:hover::before,
header nav ul li a:focus::before,
header nav ul li a:hover::after,
header nav ul li a:focus::after {
opacity: 1;
-webkit-transform: translateY(0px);
-moz-transform: translateY(0px);
transform: translateY(0px);
}
#fotos {
margin: 2em 0 0;
}
#fotos img {
width: 24%;
padding: 1em;
background-color: #fff;
display: inline-block;
margin: 0 .5%;
}
menu li {
width: 33%;
display: inline-block;
}
#textos {
margin: 1em 0 3em;
overflow: hidden;
}
#textos .caja {
width: 49%;
display: block;
padding: 2em;
background-color: rgba(0,0,0,.2);
transition: .5s ease all;
}
#textos .caja.izq {
float: left;
clear: left;
}
#textos .caja.der {
float: right;
clear: right;
}

